[Unit]
Description=Update linux-monitoring SMART cache
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-linux-monitoring-smart-cache.sh
User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/linux-monitoring
